#video {
  width: 500px;
}

#video,
#capture_normal,
#normal_count,
#capture_error,
#error_count,
#normal_count_place,
#error_count_place,
#delete_images,
#imgae_model_name,
#model_name,
#create_model,
#folder_path_normal,
#folder_path_error,
#folder_image_create,
#upload_images,
#cam_model_name,
#cam_model_create,
h1,
h3 {
  margin-left: 30px;
}

/* 정상불량 이미지 text div */
#goodandbad {
  width: 100%;
  height: 50px;
  margin: 15px;
}

#normal_count_place,
#error_count_place{
  font-size: 1.6rem;
  color: black;
  align-items: center;
  line-height: 2em;
}

/* 버튼 css */
#capture_normal,
#capture_error{
  width: 80%;
}

/* 모델생성버튼 */

#modelcreate{
  width: 100%;
  margin-top: 40px;

}
#cam_model_create{
  width: 35%;
}

#cam_model_name {
  width: 50%;
  height: 50px;
  font-size: 1.2rem;
  border: 0;
  border-radius: 5px;
  outline: none;
  padding-left: 10px;
  background-color: #f8f9fc;
}