<!DOCTYPE html>
<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{navLayout}"
>
  <body id="page-top">
    <div layout:fragment="content">
      <!-- 주 페이지 콘텐츠 -->
      <div class="container-fluid" style="height: 86vh">
        <!-- 페이지 말머리 -->
        <h1 class="h3 mb-2 text-gray-800">모델 관리</h1>
        <p class="mb-4">작성 모델의 삭제, 추가학습 등 관리</p>

        <!-- 분석결과 -->
        <div class="card shadow mb-4">
          <div class="card-header py-3">
            <!-- <h6 class="m-0 font-weight-bold text-primary">회원관리</h6> -->

            <ul class="nav nav-tabs card-header-tabs">
              <li class="nav-item">
                <a class="nav-link active" id="modelDelete">모델 삭제</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="addTraining">모델 추가학습</a>
                <!-- 여기에 '모델 추가학습' 탭을 추가했습니다. -->
              </li>
            </ul>
          </div>

          <!-- 모델삭제 -->
          <div class="card-body" id="modelDeleteTable">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">생성일</th>
                  <th scope="col">모델명</th>
                  <th scope="col">삭제</th>
                </tr>
              </thead>
              <tbody id="modelDeleteBody">
                <tr>
                  <th scope="col">1</th>
                  <th scope="col">2023년11월29일11시30분</th>
                  <th scope="col">A회사</th>
                  <th scope="col">96%</th>
                </tr>
              </tbody>
            </table>
          </div>

          <!-- 모델 추가학습 -->
          <div class="card-body" id="addTrainingTable" style="display: none">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">생성일</th>
                  <th scope="col">모델명</th>
                  <th scope="col">추가학습</th>
                </tr>
              </thead>
              <tbody id="addTrainingBody">
                <!-- 여기에 추가학습 모델의 정보를 넣을 수 있습니다. -->
              </tbody>
            </table>
          </div>
          <!-- 여기까지 모델 추가학습 -->
        </div>
      </div>
      <script src="/JS/allResult.js"></script>
    </div>
  </body>
</html>
