<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{navLayout}">
<body id="page-top">
<div layout:fragment="content">
    <!-- 주 페이지 콘텐츠 -->
    <div class="container-fluid" style="height: 86vh;">

        <!-- 페이지 말머리 -->
        <h1 class="h3 mb-2 text-gray-800">전체 분석 결과</h1>
        <p class="mb-4">전체 분석 결과를 보여주며, 누르면 상세보기도 가능</p>

        <!-- 분석결과 -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <!-- <h6 class="m-0 font-weight-bold text-primary">회원관리</h6> -->

                <ul class="nav nav-tabs card-header-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" id="allresult">분석결과</a>
                    </li>
                </ul>
            </div>

            <!-- 전체회원 -->
            <div class="card-body" id="allresultTable">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">판정일</th>
                        <th scope="col">회사명</th>
                        <th scope="col">회원ID</th>
                        <th scope="col">제품분석정확도</th>
                    </tr>
                    </thead>
                    <tbody id="allresultBody">
                    <tr th:each="analysis, stat : ${analysisList}" onclick="window.location.href='Result-Detail.html';">
                        <th th:text="|${stat.count}|" scope="col"></th>
                        <td th:text="${analysis.predictionDate}" scope="col"></td>
                        <td th:text="${analysis.member.mbCompany}" scope="col"></td>
                        <td th:text="${analysis.member.mbId}" scope="col"></td>
                        <td th:text="${analysis.predictionClassfication}"scope="col"></td>
                    </tr>

                  
                    </tbody>
                </table>
            </div>

            <!-- 하단 pagination -->
            <nav id="allMembersPagination" aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>

                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
</body>

</html>