<!DOCTYPE html>
<html layout:decorate="~{layout}">
  <head>
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  </head>

  <body>
    <div layout:fragment="content">
      <h1>분석메인</h1>
      <a href="/deep/create"
        ><button class="btn" id="createModel">모델 생성</button></a
      >
      <button class="btn" id="videoAys">실시간 분석</button>

      <button class="btn" id="imageAys">이미지 분석</button>

      <script>
        $("#videoAys").click(function () {
        $(this).prop('disabled', true).text('로딩 중...');
          videoAysFromServer();
        });

        function videoAysFromServer() {
          $.ajax({
            url: "http://218.157.38.54:8002/apply_weights/",
            method: "post",
            success: function (data) {
              console.log(data.message);
              setTimeout(function() {
                window.location.href = "/deep/videoAnalysis";
              }, 200);
            },
            error: function (error) {
              console.error("Error:", error);
              $('#videoAys').prop('disabled', false).text('실시간 분석');
            },
          });
        }

        $("#imageAys").click(function () {
        $(this).prop('disabled', true).text('로딩 중...');
          imageAysFromServer();
        });

        function imageAysFromServer() {
          $.ajax({
            url: "http://218.157.38.54:8002/apply_weights/",
            method: "post",
            success: function (data) {
              console.log(data.message);
              setTimeout(function() {
                window.location.href = "/deep/imgAnalysis";
              }, 200);
            },
            error: function (error) {
              console.error("Error:", error);
              $('#imageAys').prop('disabled', false).text('이미지 분석');
            },
          });
        }
      </script>
    </div>
  </body>
</html>