<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{imgUploadlayout}">
<div layout:fragment="content" class="container my-3">

   <h1>이미지 업로드</h1>
   <form th:action="@{/deep/imgUpload}" method="post" enctype="multipart/form-data">
      <input type="file" name="file" accept="image/*" required />
      <input type="submit" value="업로드" />
   </form>

   <!-- for each문 사용해서 모든 Analysis데이터 출력 -->
   <table>      
   <tr th:each="analysis : ${analysisList}">
      <td><img class="img" th:src="'data:image/png;base64,' + ${analysis.base64ProductImg}" alt="Image" width="100" height="100"/></td>
      <td th:text="${analysis.predictionDate}"></td>
      <td th:text="${analysis.predictionAccuracy} + '%'"></td>
      <td th:text="${analysis.predictionJdm}"></td><br>
   </tr>
   </table>
   <!-- 페이징처리 시작 -->
    <div th:if="${analysisList != null and not analysisList.empty}"><!--paging.isEmpty:페이지존재여부(게시물있으면 false,없으면 true)-->
        <ul class="pagination justify-content-center">
            <li class="page-item" th:classappend="${!analysisList.hasPrevious} ? 'disabled'">
            <!-- !paging.hasPrevious - disabled : 이전페이지가 없으면 비활성화-->

                <a class="page-link" th:href="@{|?page=${analysisList.number-1}|}">
                <!--이전페이지 링크-->
                    <span>이전</span>
                </a>
            </li>


            <!--th:each :페이지 리스트 루프--> <!--#numbers.sequence(시작, 끝)-->
            <li th:each="page: ${#numbers.sequence(1, analysisList.totalPages)}"

            th:if="${page >= analysisList.number-5 and page <= analysisList.number+5}"
            th:classappend="${page - 1 == analysisList.number} ? 'active'"
            class="page-item">
         <!-- 1페이지 칸 순서에 맞게 적용 -->

            <!--page == paging.number : 현재페이지와 같으면 active 적용-->
                <a th:text="${page}" class="page-link" th:href="@{|?page=${page-1}|}"></a>
            </li>


            <li class="page-item" th:classappend="${!analysisList.hasNext} ? 'disabled'">
            <!-- !paging.hasNext - disabled : 다음페이지 없으면 비활성화-->

                <a class="page-link" th:href="@{|?page=${analysisList.number+1}|}">
                <!--다음페이지 링크-->
                    <span>다음</span>
                </a>
            </li>
        </ul>
    </div>
    <!-- 페이징처리 끝 -->
   
</body>

</html>
