<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>분석결과</title>

    <!-- 폰트랑..아이콘? -->
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Owl Carousel CSS - 슬라이드 호환 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">

    <!-- CSS -->
    <link href="/CSS/sb-admin-2.min.css" rel="stylesheet">

    <!-- Custom styles for this page -->
    <link href="/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">



</head>

<!-- jquery -->
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<!-- echarts -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/5.4.2/echarts.min.js"></script>
<!-- Owl Carousel JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>


<body id="page-top">

    <!-- 마이페이지 wrapper-->
    <div id="wrapper">

        <!-- 배너 -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- 브랜드 회사명(로고)-->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3">CRUD <sup>5</sup></div>
            </a>

            <!-- 구별 선 -->
            <hr class="sidebar-divider my-0">

            <!-- 메인-->
            <li class="nav-item">
                <a class="nav-link" href="index.html">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>관리홈</span></a>
            </li>

            <!-- 구별 선 -->
            <hr class="sidebar-divider">

            <!-- 분석메뉴 -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
                    aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>분석</span>
                </a>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" href="single-analysis.html">단건분석</a>
                        <a class="collapse-item" href="cards.html">실시간분석</a>
                        <a class="collapse-item" href="all-Result.html">분석결과</a>
                    </div>
                </div>
            </li>

            <!-- 마이페이지 메뉴 -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities"
                    aria-expanded="true" aria-controls="collapseUtilities">
                    <i class="fas fa-fw fa-wrench"></i>
                    <span>마이페이지</span>
                </a>
            </li>



            <!-- 회원관리 메뉴 -->
            <li class="nav-item active">
                <a class="nav-link" href="MemberManagement.html">
                    <i class="fas fa-fw fa-table"></i>
                    <span>전체회원관리</span></a>
            </li>



            <!-- 바 숨기기 / 열기 -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
                <!-- <button class="rounded-circle border-0" id="sidebarToggle"></button> -->
            </div>

        </ul>
        <!-- 사이드바 끝!!! -->



        <!-- 콘텐츠 Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- 상단바 -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <form class="form-inline">
                        <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                            <i class="fa fa-bars"></i>
                        </button>
                    </form>


                    <!-- 상단 Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                                aria-labelledby="searchDropdown">
                                <form class="form-inline mr-auto w-100 navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small"
                                            placeholder="Search for..." aria-label="Search"
                                            aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>

                        <!-- Nav 아이텐 - 알림 -->
                        <li class="nav-item dropdown no-arrow mx-1">
                            <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-bell fa-fw"></i>
                                <!-- 알림 갯수 - Alerts -->
                                <span class="badge badge-danger badge-counter">3+</span>
                            </a>

                            <!-- 알림 누르면! -->

                            <!-- 제목 -->
                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="alertsDropdown">
                                <h6 class="dropdown-header">
                                    알림
                                </h6>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-primary">
                                            <i class="fas fa-file-alt text-white"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="small text-gray-500">2023.11.27</div>
                                        <span class="font-weight-bold">금일 분석 결과 안내</span>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-success">
                                            <i class="fas fa-donate text-white"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="small text-gray-500">2023.11.27</div>
                                        00회사 주식 급락..
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-warning">
                                            <i class="fas fa-exclamation-triangle text-white"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="small text-gray-500">2023.11.26</div>
                                        행복한 주말 보내세요!
                                    </div>
                                </a>
                                <a class="dropdown-item text-center small text-gray-500" href="#">.</a>
                            </div>
                        </li>

                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav 아이템 - 프로필 -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">Douglas McGee</span>
                                <img class="img-profile rounded-circle" src="/img/undraw_profile.svg">
                            </a>

                            <!-- 프로필 누르면 정보 출력 -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    내 프로필
                                </a>

                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    로그아웃
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- 상단바 끝!!! -->

                <!--
            ------------------------
            주 페이지 콘텐츠
            -----------------------
            -->
                <div class="container-fluid">



                    <div class="card shadow mb-4"> <!-- Use the card class for shadow effect -->
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">양불 판정 그래프</h6> <!-- Card header for title -->
                        </div>
                        <div class="card-body"> <!-- Card body for content -->



                    <!-- 분석 양불판정 그래프 -->
                    <div class="card-container-chart">
                        <div class="chartcard">

                            <div class="card-body" style="overflow: hidden;">
                                <h5 class="card-title"></h5>
                                <!--양불 꺽은선 그래프 -->
                                <div id="container" style="height: 400%"></div>

  
                                <script type="text/javascript" src="https://fastly.jsdelivr.net/npm/echarts@5.4.3/dist/echarts.min.js"></script>
                              
                                <script type="text/javascript">
                                  var dom = document.getElementById('container');
                                  var myChart = echarts.init(dom, null, {
                                    renderer: 'canvas',
                                    useDirtyRect: false
                                  });
                                  var app = {};
                                  
                                  var option;
                              
                                  option = {
                                title: {
                                  text: '-1'
                                },
                                tooltip: {
                                  trigger: 'axis'
                                },
                                legend: {},
                                toolbox: {
                                  show: true,
                                  feature: {
                                    dataZoom: {
                                      yAxisIndex: 'none'
                                    },
                                    dataView: { readOnly: false },
                                    magicType: { type: ['line', 'bar'] },
                                    restore: {},
                                    saveAsImage: {}
                                  }
                                },
                                xAxis: {
                                  type: 'category',
                                  boundaryGap: false,
                                  data: ['0000', '0001', '0002', '0003', '0004', '0005', '0006','0007']
                                },
                                yAxis: {
                                  type: 'value',
                                  axisLabel: {
                                    formatter: '{value} 상태'
                                  }
                                },
                                series: [
                                  {
                                    name: '정상',
                                    type: 'line',
                                    data: [1, 1, -1, 1, 1, -1, 1],
                                    markPoint: {
                                      data: [
                                        { type: 'max', name: 'Max' },
                                        { type: 'min', name: 'Min' }
                                      ]
                                    },
                                    markLine: {
                                      data: [{ type: 'average', name: 'Avg' }]
                                    }
                                  },
                                  {
                                    name: '불량',
                                    type: 'line',
                                    data: [-1, -1, 1, -1, -1, 1, -1],
                                    markPoint: {
                                      data: [{ name: '周最低', value: -2, xAxis: 1, yAxis: -1.5 }]
                                    },
                                    markLine: {
                                      data: [
                                        { type: 'average', name: 'Avg' },
                                        [
                                          {
                                            symbol: 'none',
                                            x: '90%',
                                            yAxis: 'max'
                                          },
                                          {
                                            symbol: 'circle',
                                            label: {
                                              position: 'start',
                                              formatter: 'Max'
                                            },
                                            type: 'max',
                                            name: '最高点'
                                          }
                                        ]
                                      ]
                                    }
                                  }
                                ]
                              };
                              
                                  if (option && typeof option === 'object') {
                                    myChart.setOption(option);
                                  }
                              
                                  window.addEventListener('resize', myChart.resize);
                                </script>
                            </div>
                        </div>





                       
                    </div>


                </div>
            </div>
                    <!-- card-container-chart 끝 -->








                    <!-- 페이지 말머리 -->
                    <br><br>
                    <h1 class="h3 mb-2 text-gray-800">분석로그</h1>
                    <p class="mb-4">정상과 불량 분석 로그 출력</p>

                    <!-- 회원 카드 -->
                    <div class="card shadow mb-4 container-fixed" style="width: 86.4vw; height: 15vs;">
                        <div class="card-header py-3">
                            <!-- <h6 class="m-0 font-weight-bold text-primary">회원관리</h6> -->
                            <ul class="nav nav-tabs card-header-tabs">
                                <li class="nav-item">
                                    <a class="nav-link active" id="goodmodeltab">정상</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="badmodeltab">불량</a>
                                </li>
                            </ul>
                        </div>

                    <!-- 정상 -->
                    <div class="goodmodeltable">
                        <!-- 1 -->
                        <div class="card-body good-model-table">
                            no1.
                            <div class="card mb-3 card-red">
                                <div class="row no-gutters">
                                    <!-- 사진 div -->
                                    <div class="col-sm-1 col-md-1 col-12 fixed-card">
                                        <div class="img-container">
                                            <img src="/img/p1.png" class="img-thumbnail" data-toggle="modal" data-target="#imageModal">
                                        </div>
                                    </div>
                                    <!-- 글 div -->
                                    <p class="card-text-sub" style="margin-top: 30px; margin-left: 20px;">98% / 11월 30일 12시 34분</p>
                                    <div class="col-md-6 col-12 text-card">
                                        <div class="card-body text-lefts">
                                            <h5 class="card-title" style="font-size: 1vw;">판정</h5>
                                            <p class="card-text" style="font-size: 0.8vw;">정확도: 98% </p>
                                            <p class="card-text" style="font-size: 0.8vw;">날짜: 2023년 11월 30일 12시 34분</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- 2 -->
                        <div class="card-body good-model-table">
                            no2.
                            <div class="card mb-3 card-red">
                                <div class="row no-gutters">
                                    <!-- 사진 div -->
                                    <div class="col-sm-1 col-md-1 col-12 fixed-card">
                                        <div class="img-container">
                                            <img src="/img/p1.png" class="img-thumbnail" data-toggle="modal" data-target="#imageModal">
                                        </div>
                                    </div>
                                    <!-- 글 div -->
                                    <p class="card-text-sub" style="margin-top: 30px; margin-left: 20px;">98% / 11월 30일 12시 34분</p>
                                    <div class="col-md-6 col-12 text-card">
                                        <div class="card-body text-lefts">
                                            <h5 class="card-title" style="font-size: 1vw;">판정</h5>
                                            <p class="card-text" style="font-size: 0.8vw;">정확도: 98% </p>
                                            <p class="card-text" style="font-size: 0.8vw;">날짜: 2023년 11월 30일 12시 34분</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- 3 -->
                        <div class="card-body good-model-table">
                            no3.
                            <div class="card mb-3 card-red">
                                <div class="row no-gutters">
                                    <!-- 사진 div -->
                                    <div class="col-sm-1 col-md-1 col-12 fixed-card">
                                        <div class="img-container">
                                            <img src="/img/p1.png" class="img-thumbnail" data-toggle="modal" data-target="#imageModal">
                                        </div>
                                    </div>
                                    <!-- 글 div -->
                                    <p class="card-text-sub" style="margin-top: 30px; margin-left: 20px;">98% / 11월 30일 12시 34분</p>
                                    <div class="col-md-6 col-12 text-card">
                                        <div class="card-body text-lefts">
                                            <h5 class="card-title" style="font-size: 1vw;">판정</h5>
                                            <p class="card-text" style="font-size: 0.8vw;">정확도: 98% </p>
                                            <p class="card-text" style="font-size: 0.8vw;">날짜: 2023년 11월 30일 12시 34분</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- 4 -->
                        <div class="card-body good-model-table">
                            no4.
                            <div class="card mb-3 card-red">
                                <div class="row no-gutters">
                                    <!-- 사진 div -->
                                    <div class="col-sm-1 col-md-1 col-12 fixed-card">
                                        <div class="img-container">
                                            <img src="/img/p1.png" class="img-thumbnail" data-toggle="modal" data-target="#imageModal">
                                        </div>
                                    </div>
                                    <!-- 글 div -->
                                    <p class="card-text-sub" style="margin-top: 30px; margin-left: 20px;">98% / 11월 30일 12시 34분</p>
                                    <div class="col-md-6 col-12 text-card">
                                        <div class="card-body text-lefts">
                                            <h5 class="card-title" style="font-size: 1vw;">판정</h5>
                                            <p class="card-text" style="font-size: 0.8vw;">정확도: 98% </p>
                                            <p class="card-text" style="font-size: 0.8vw;">날짜: 2023년 11월 30일 12시 34분</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- 5 -->
                        <div class="card-body good-model-table">
                            no5.
                            <div class="card mb-3 card-red">
                                <div class="row no-gutters">
                                    <!-- 사진 div -->
                                    <div class="col-sm-1 col-md-1 col-12 fixed-card">
                                        <div class="img-container">
                                            <img src="/img/p1.png" class="img-thumbnail" data-toggle="modal" data-target="#imageModal">
                                        </div>
                                    </div>
                                    <!-- 글 div -->
                                    <p class="card-text-sub" style="margin-top: 30px; margin-left: 20px;">98% / 11월 30일 12시 34분</p>
                                    <div class="col-md-6 col-12 text-card">
                                        <div class="card-body text-lefts">
                                            <h5 class="card-title" style="font-size: 1vw;">판정</h5>
                                            <p class="card-text" style="font-size: 0.8vw;">정확도: 98% </p>
                                            <p class="card-text" style="font-size: 0.8vw;">날짜: 2023년 11월 30일 12시 34분</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                        <!-- 불량 -->
                        <div class="badmodeltable">
                            
                                
                                <!-- 1 -->
                                <div class="card-body good-model-table">
                                    no1.
                                    <div class="card mb-3 card-red">
                                        <div class="row no-gutters">
                                            <!-- 사진 div -->
                                            <div class="col-sm-1 col-md-1 col-12 fixed-card">
                                                <div class="img-container">
                                                    <img src="/img/p1.png" class="img-thumbnail" data-toggle="modal" data-target="#imageModal">
                                                </div>
                                            </div>
                                            <!-- 글 div -->
                                            <p class="card-text-sub" style="margin-top: 30px; margin-left: 20px;">98% / 11월 30일 12시 34분</p>
                                            <div class="col-md-6 col-12 text-card">
                                                <div class="card-body text-lefts">
                                                    <h5 class="card-title" style="font-size: 1vw;">판정</h5>
                                                    <p class="card-text" style="font-size: 0.8vw;">정확도: 98% </p>
                                                    <p class="card-text" style="font-size: 0.8vw;">날짜: 2023년 11월 30일 12시 34분</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- 2 -->
                                <div class="card-body good-model-table">
                                    no2.
                                    <div class="card mb-3 card-red">
                                        <div class="row no-gutters">
                                            <!-- 사진 div -->
                                            <div class="col-sm-1 col-md-1 col-12 fixed-card">
                                                <div class="img-container">
                                                    <img src="/img/p1.png" class="img-thumbnail" data-toggle="modal" data-target="#imageModal">
                                                </div>
                                            </div>
                                            <!-- 글 div -->
                                            <p class="card-text-sub" style="margin-top: 30px; margin-left: 20px;">98% / 11월 30일 12시 34분</p>
                                            <div class="col-md-6 col-12 text-card">
                                                <div class="card-body text-lefts">
                                                    <h5 class="card-title" style="font-size: 1vw;">판정</h5>
                                                    <p class="card-text" style="font-size: 0.8vw;">정확도: 98% </p>
                                                    <p class="card-text" style="font-size: 0.8vw;">날짜: 2023년 11월 30일 12시 34분</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- 3 -->
                                <div class="card-body good-model-table">
                                    no3.
                                    <div class="card mb-3 card-red">
                                        <div class="row no-gutters">
                                            <!-- 사진 div -->
                                            <div class="col-sm-1 col-md-1 col-12 fixed-card">
                                                <div class="img-container">
                                                    <img src="/img/p1.png" class="img-thumbnail" data-toggle="modal" data-target="#imageModal">
                                                </div>
                                            </div>
                                            <!-- 글 div -->
                                            <p class="card-text-sub" style="margin-top: 30px; margin-left: 20px;">98% / 11월 30일 12시 34분</p>
                                            <div class="col-md-6 col-12 text-card">
                                                <div class="card-body text-lefts">
                                                    <h5 class="card-title" style="font-size: 1vw;">판정</h5>
                                                    <p class="card-text" style="font-size: 0.8vw;">정확도: 98% </p>
                                                    <p class="card-text" style="font-size: 0.8vw;">날짜: 2023년 11월 30일 12시 34분</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <!-- 하단 pagination -->
                        <nav id="Pagination" aria-label="Page navigation example">
                            <ul class="pagination">
                                <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                                <li class="page-item"><a class="page-link" href="#">1</a></li>

                                <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <!-- 회원카드 div 끝 -->






                    </div>





                        





                </div>
                <!-- container-fluid 끝 (중심메뉴)-->

            </div>
        </div>



    </div>
    <!-- /.container-fluid -->

    </div>
    <!-- Main Content 끝 -->



    </div>
    <!-- Content Wrapper 끝 -->
    <!-- 푸터 -->
    <footer class="sticky-footer" style="background-color: #F8F9FC;">
        <hr>
        <div class="container my-auto">
            <div class="copyright text-center my-auto">
                <span>CRUD &copy; 2023.11.28<br><br>
                    진영준 | 장채린 | 서희주 | 한창헌 | 김동민</span>
            </div>
        </div>
    </footer>
    <!-- 푸터 끝 -->

    </div>
    <!-- 이 페이지 wrapper 끝! -->








    <!-- 사진을 눌렀을 때 나타날 모달  -->
    <div class="modal fade" id="imageModal" tabindex="-1" role="dialog" aria-labelledby="imageModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="imageModalLabel">이미지 상세보기</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body d-flex justify-content-center">
                    <img id="modalImage" src="" class="img-fluid" alt="모달 이미지">
                </div>
            </div>
        </div>
    </div>



    <!-- 로그아웃 모달-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">로그아웃 하시겠습니까?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">현재 세션을 종료하려면 아래의 '로그아웃'을 선택하십시오.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">취소</button>
                    <a class="btn btn-primary" href="login.html">로그아웃</a>
                </div>
            </div>
        </div>
    </div>

    <!-- 길어지면 아래에 위로올리기버튼-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>




    <!-- Bootstrap core JavaScript-->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="/js/demo/datatables-demo.js"></script>

</body>

</html>