<!DOCTYPE html>
<html
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{navLayout}">

  

    <body>
        <div layout:fragment="content">
            <!--본문 내용만 적으면 됨-->
            <!-- 주 페이지 콘텐츠 -->
            <div class="container-fluid ml-4 mt-4 mb-4 mr-4 p-4">

                <div class="content">
                    <div class="animated fadeIn">
                        <div class="row">

                            <div class="col-lg-6 mr-3">
                                <!-- 알람 each문 시작 -->
                                <div class="card shadow-sm">
                                    
                                    <div class="card-title text-lg text-dark ml-3 pt-3 mb-0">알림 및 공지사항</div>
                                    <hr style=" margin-top: 0.75rem; margin-bottom: 0.75rem;">
                                    <div class="card-body container pt-1" style="height: 415px;">
                                        <!-- Thymeleaf의 조건문 사용 -->
                                        <div th:if="${#lists.isEmpty(alarmList)}" class="h-100 row">
                                            <div class="d-flex justify-content-center col align-self-center">현재는 알람이 없습니다.</div>
                                        </div>
                                        <div
                                            th:each="alarm : ${alarmList}"
                                            class="alert alert-danger row p-1 align-items-center shadow-sm"
                                            role="alert">

                                            <div class="ml-3 align-middle">
                                                <svg
                                                    xmlns="http://www.w3.org/2000/svg"
                                                    width="30"
                                                    height="30"
                                                    fill="currentColor"
                                                    class="bi bi-exclamation-triangle-fill"
                                                    viewbox="0 0 16 16">
                                                    <path
                                                        d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5m.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
                                                </svg>
                                            </div>
                                            <div class="p-3 col font-weight-bold align-middle ml-3" th:text="${alarm.msg}"></div>
                                            <div class="col align-self-end text-right" th:text="${alarm.alarmDate}"></div>
                                        </div>
                                    </div>
                                </div>
                                <!-- 알람 each문 끝 -->
                            </div>
                            <div class="col-lg-5 ml-5 mt-0 pr-0">
                                <!-- Pending Requests Card Example -->
                                <!-- 노랑카드 -->
                                <div class="mb-5" style="height:130px">
                                    <div class="card border-left-warning shadow-sm h-100 py-2">
                                        <div class="card-body">
                                            <div class="row no-gutters align-items-center">
                                                <div class="col mr-2">
                                                    <div class="text-md font-weight-bold text-warning text-uppercase mb-1">
                                                        누적 사용자 수</div>
                                                    <div class="h3 mb-0 font-weight-bold text-gray-800" th:text="${memberCount}"></div>
                                                </div>
                                                <div class="col-auto">
                                                    <i class="fas fa-comments fa-2x text-gray-300"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-5" style="height:130px">
                                    <div class="card border-left-info shadow-sm h-100 py-2">
                                        <div class="card-body">
                                            <div class="row no-gutters align-items-center">
                                                <div class="col mr-2">
                                                    <div class="text-md font-weight-bold text-info text-uppercase mb-1">
                                                        누적 실시간 분석 건수</div>
                                                    <div class="h3 mb-0 font-weight-bold text-gray-800"></div>
                                                </div>
                                                <div class="col-auto">
                                                    <i class="fas fa-comments fa-2x text-gray-300"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-4" style="height:130px">
                                    <div class="card border-left-success shadow-sm h-100 py-2">
                                        <div class="card-body">
                                            <div class="row no-gutters align-items-center">
                                                <div class="col mr-2">
                                                    <div class="text-md font-weight-bold text-success text-uppercase mb-1">
                                                        단건 분석 건수</div>
                                                    <div class="h3 mb-0 font-weight-bold text-gray-800"></div>
                                                </div>
                                                <div class="col-auto">
                                                    <i class="fas fa-comments fa-2x text-gray-300"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- .animated -->
                    </div>
                    <!-- .content -->

                </div>
            </div>
        </div>
    </body>
</html>