<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>회원관리</title>

        <!-- Custom fonts for this template -->
        <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
        <link
                href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/sb-admin-2.min.css" rel="stylesheet">

    <!-- Custom styles for this page -->
    <link href="vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

</head>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<body id="page-top">

    <!-- 마이페이지 wrapper-->
    <div id="wrapper">

        <!-- 배너 -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- 브랜드 회사명(로고)-->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3">CRUD <sup>5</sup></div>
            </a>

            <!-- 구별 선 -->
            <hr class="sidebar-divider my-0">

            <!-- 메인-->
            <li class="nav-item">
                <a class="nav-link" href="index.html">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>관리홈</span></a>
            </li>

            <!-- 구별 선 -->
            <hr class="sidebar-divider">

            <!-- 분석메뉴 -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
                    aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>분석</span>
                </a>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" href="/deep/imgAnalysis">단건분석</a>
                        <a class="collapse-item" href="cards.html">실시간분석</a>
                        <a class="collapse-item" href="all-Result.html">분석결과</a>
                    </div>
                </div>
            </li>

            <!-- 마이페이지 메뉴 -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="Mypage.html">
                    <i class="fas fa-fw fa-wrench"></i>
                    <span>마이페이지</span>
                </a>
            </li>

            

            <!-- 회원관리 메뉴 -->
            <li class="nav-item active">
                <a class="nav-link" href="MemberManagement.html">
                    <i class="fas fa-fw fa-table"></i>
                    <span>전체회원관리</span></a>
            </li>

            

            <!-- 바 숨기기 / 열기 -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
                <!-- <button class="rounded-circle border-0" id="sidebarToggle"></button> -->
            </div>

        </ul>
        <!-- 사이드바 끝!!! -->



        <!-- 콘텐츠 Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- 상단바 -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <form class="form-inline">
                        <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                            <i class="fa fa-bars"></i>
                        </button>
                    </form>


                    <!-- 상단 Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                                aria-labelledby="searchDropdown">
                                <form class="form-inline mr-auto w-100 navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small"
                                            placeholder="Search for..." aria-label="Search"
                                            aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>

                        <!-- Nav 아이텐 - 알림 -->
                        <li class="nav-item dropdown no-arrow mx-1">
                            <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-bell fa-fw"></i>
                                <!-- 알림 갯수 - Alerts -->
                                <span class="badge badge-danger badge-counter">3+</span>
                            </a>

                            <!-- 알림 누르면! -->
                            
                            <!-- 제목 -->
                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="alertsDropdown">
                                <h6 class="dropdown-header">
                                    알림
                                </h6>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-primary">
                                            <i class="fas fa-file-alt text-white"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="small text-gray-500">2023.11.27</div>
                                        <span class="font-weight-bold">금일 분석 결과 안내</span>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-success">
                                            <i class="fas fa-donate text-white"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="small text-gray-500">2023.11.27</div>
                                        00회사 주식 급락..
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-warning">
                                            <i class="fas fa-exclamation-triangle text-white"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="small text-gray-500">2023.11.26</div>
                                        행복한 주말 보내세요!
                                    </div>
                                </a>
                                <a class="dropdown-item text-center small text-gray-500" href="#">.</a>
                            </div>
                        </li>

                        <div clledby="userDropdown">
                                <a class=lass="topbar-divider d-none d-sm-block"></div>

                            <!-- Nav 아이템 - 프로필 -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">Douglas McGee</span>
                                <img class="img-profile rounded-circle"
                                     src="img/undraw_profile.svg">
                            </a>

                            <!-- 프로필 누르면 정보 출력 -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                 aria-labe"dropdown-item" href="#">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    내 프로필
                                </a>
                                
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    로그아웃
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- 상단바 끝!!! -->

                <!-- 주 페이지 콘텐츠 -->
                <div class="container-fluid">

                    

                        <div class="content" style="margin-top: 38px;">
                            <div class="animated fadeIn">
                                <div class="row">
                                    <div class="col-lg-10 " >
            
                                        <div class="card" style="box-shadow: 9px 9px 15px rgba(171, 171, 171, 0.5);">
                                            <div class="card-header" >
                                                <strong class="card-title">알람</strong>
                                            </div>
                                            <div class="card-body">
            
                                                <div class="alert alert-info" role="alert">
                                                    2023.11.23 | 남선산업 | dm k | 양불판정 완료
                                                </div>
            
            
                                                <div class="alert alert-warning" role="alert">
                                                    2023.11.22 | 효웅산업 | qkqwnj54 | 불량 $ 개 >> <a href="#"
                                                        class="alert-link">확인바람</a>.
                                                </div>
                                                <div class="alert alert-warning" role="alert">
                                                    2023.11.22 | 효웅산업 | qkqwnj54 | 불량 $ 개 >> <a href="#"
                                                        class="alert-link">확인바람</a>.
                                                </div>
                                                <div class="alert alert-warning" role="alert">
                                                    2023.11.22 | 효웅산업 | qkqwnj54 | 불량 $ 개 >> <a href="#"
                                                        class="alert-link">확인바람</a>.
                                                </div>
                                                <div class="alert alert-warning" role="alert">
                                                    2023.11.22 | 효웅산업 | qkqwnj54 | 불량 $ 개 >> <a href="#"
                                                        class="alert-link">확인바람</a>.
                                                </div>
                                            </div>
                                        </div>
            
            
                                    </div>
            
            
            
                                </div>
            
            
                                <div class="row "  >
                                    <div class="col-lg-4 "  >
                                        <div class="card" style="box-shadow: 9px 9px 15px rgba(171, 171, 171, 0.5);">
                                            <div class="card-header">
                                                <strong class="card-title">금일 불량품 그래프</strong>
                                            </div>
                                            <div class="card-body" >
                                                <a><img src="images/char4.png" width="500"></a>
                                            </div>
                                            <div class="card-body" >
                                                <a><img src="images/char2.png" width="700"></a>
                                            </div>
                                        </div>
                                    </div>
            
            
                                    <div class="col-lg-6 " >
                                        <div class="card" style="box-shadow: 9px 9px 15px rgba(171, 171, 171, 0.5);">
                                            <div class="card-header">
                                                <strong class="card-title">주간 불량품 그래프</strong>
                                            </div>
                                            <div class="card-body" width="">
                                                <a><img src="images/char.png"></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
            
            
            
                                <div class="row">
                                    <div class="col-lg-10">
                                        <div class="card" style="box-shadow: 9px 9px 15px rgba(171, 171, 171, 0.5);">
                                            <div class="card-header">
                                                <strong class="card-title">주간 양불판정 분석결과</strong>
                                            </div>
                                            <div class="card-body">
                                                <table class="table table-striped">
                                                    <thead>
                                                        <tr>
                                                            <th scope="col">#</th>
                                                            <th scope="col">Total</th>
                                                            <th scope="col">Normal</th>
                                                            <th scope="col">Defective</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <th scope="row">Sun</th>
                                                            <td>62</td>
                                                            <td>62</td>
                                                            <td>0</td>
                                                        </tr>
                                                        <tr>
                                                            <th scope="row">Mon</th>
                                                            <td>157</td>
                                                            <td>155</td>
                                                            <td>2</td>
                                                        </tr>
                                                        <tr>
                                                            <th scope="row">Tue</th>
                                                            <td>2043</td>
                                                            <td>2026</td>
                                                            <td>27</td>
                                                        </tr>
                                                        <tr>
                                                            <th scope="row">Wed</th>
                                                            <td>452</td>
                                                            <td>452</td>
                                                            <td>0</td>
                                                        </tr>
                                                        <tr>
                                                            <th scope="row">Thu</th>
                                                            <td>877</td>
                                                            <td>877</td>
                                                            <td>0</td>
                                                        </tr>
                                                        <tr>
                                                            <th scope="row">Fri</th>
                                                            <td>1045</td>
                                                            <td>1044</td>
                                                            <td>1</td>
                                                        </tr>
                                                        <tr>
                                                            <th scope="row">Sat</th>
                                                            <td>246</td>
                                                            <td>246</td>
                                                            <td>0</td>
                                                        </tr>
            
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
            
            
            
            
            
            
            
            
            
            
            
                                </div>
            
            
            
            
                            </div>
                        </div><!-- .animated -->
                    </div><!-- .content -->

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- Main Content 끝 -->

            
            
        </div>
        <!-- Content Wrapper 끝 -->
        <!-- 푸터 -->
        <footer class="sticky-footer" style="background-color: #F8F9FC;">
            <hr>
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>CRUD &copy; 2023.11.28<br><br>
                    진영준 | 장채린 | 서희주 | 한창헌 | 김동민</span>
                </div>
            </div>
        </footer>
        <!-- 푸터 끝 -->
        
    </div>
    <!-- 이 페이지 wrapper 끝! -->



<!-- 로그아웃 모달-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
aria-hidden="true">
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">로그아웃 하시겠습니까?</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
        </div>
        <div class="modal-body">현재 세션을 종료하려면 아래의 '로그아웃'을 선택하십시오.</div>
        <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">취소</button>
            <a class="btn btn-primary" href="login.html">로그아웃</a>
        </div>
    </div>
</div>
</div>

<!-- 길어지면 아래에 위로올리기버튼-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

    
    

    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="js/demo/datatables-demo.js"></script>

</body>

</html>