<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{navLayout}">

    
    <head>
        <link rel="stylesheet" type="text/css" href="CSS/myPage.css">
    
</head>

<body id="page-top">
    <div layout:fragment="content">
        <!-- ------------------- 주 페이지 콘텐츠 시작 ----------------------- -->
        <div class="container-fluid">
            <div class="card">
                <h5 class="card-header">나의 프로필</h5>
                <div class="card-body">

                    <div class="feed-box">
                        <section class="card">
                            <div class="card-body" id="profilediv">
                                <!-- 프로필 이미지 -->
                                <div class="profile-img">
                                    <!-- 이미지 누르면 프로필 변경 할 수 있게 해야함.. -->
                                    <img id="profileImg" src="img/undraw_profile.svg" alt="프로필사진" data-toggle="modal"
                                        data-target="#profileModal">
                                </div>

                                <!-- 프로필 정보 입력 -->
                                <div class="profile-text">
                                    <h1>서희주</h1>
                                    <hr>
                                    <h3>00회사</h3>
                                    <hr>
                                    <h5>ID | HEEJU</h5>
                                    <h5>가입일 | 2023년12월01일</h5>
                                </div>
                            </div>
                        </section>
                    </div>


                </div>
            </div>

            <br><br>


            <!-- 나의 분석기록 -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <ul class="nav nav-tabs card-header-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" id="allresult">나의 분석 기록</a>
                        </li>
                    </ul>
                </div>

                <!-- 분석 기록 -->
                <div class="card-body" id="allresultTable">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">판정일</th>
                                <th scope="col">회사명</th>
                                <th scope="col">회원ID</th>
                                <th scope="col">제품분석정확도</th>
                            </tr>
                        </thead>

                        <tbody id="allresultBody">
                            <!-- 여기서부터 회원별 분석 기록 넣어주기
                            분석결과에서 회원id가 동일한 컬럼만 가져오면 됨-->
                            <tr onclick="window.location.href='Result-Detail.html';">
                                <th scope="col">1</th>
                                <th scope="col">2023년11월29일11시30분</th>
                                <th scope="col">A회사</th>
                                <th scope="col">DOZZI</th>
                                <th scope="col">96%</th>
                            </tr>

                            <tr onclick="window.location.href='Result-Detail.html';">
                                <th scope="col">2</th>
                                <th scope="col">2023년11월29일11시30분</th>
                                <th scope="col">B회사</th>
                                <th scope="col">DOZZI</th>
                                <th scope="col">95%</th>
                            </tr>

                            <tr onclick="window.location.href='Result-Detail.html';">
                                <th scope="col">3</th>
                                <th scope="col">2023년11월29일11시30분</th>
                                <th scope="col">C회사</th>
                                <th scope="col">DOZZI</th>
                                <th scope="col">93%</th>
                            </tr>

                            <tr onclick="window.location.href='Result-Detail.html';">
                                <th scope="col">4</th>
                                <th scope="col">2023년11월29일11시30분</th>
                                <th scope="col">D회사</th>
                                <th scope="col">DOZZI</th>
                                <th scope="col">98%</th>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <!-- 하단 pagination -->
                <nav id="allMembersPagination" aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>

                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <!-- ------------------- 주 페이지 콘텐츠 끝 ----------------------- -->


        <!-- --------------------프로필사진 변경 모달 --------------------- -->
        <div class="modal fade" id="profileModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="profileModalLabel">File Upload</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">


                        <div id="root">
                            <div class="contents">
                              <div class="upload-box">
                                <div id="drop-file" class="drag-file">
                                  <img src="https://img.icons8.com/pastel-glyph/2x/image-file.png" alt="파일 아이콘" class="image" >
                                  <p class="message">파일을 드래그하여 업로드하세요</p>
                                  <img src="" alt="미리보기 이미지" class="preview">
                                </div>
                                <label class="file-label" for="chooseFile">파일선택</label>
                                <input class="file" id="chooseFile" type="file" onchange="dropFile.handleFiles(this.files)" accept="image/png, image/jpeg, image/PNG">
                              </div>
                            </div>
                        </div>


                    </div>

                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">취소</button>
                        <a class="btn btn-primary" href="myPage.html">변경</a>
                    </div>
                </div>
            </div>
            <script src="JS/myPage.js"></script>
        </div>
        <!-- --------------------프로필사진 변경 모달 끝 --------------------- -->

       
    </div>

</body>

</html>